<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>reversi place for ai</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <!-- <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foggy/1.1.1/jquery.foggy.min.js"></script> -->
    <script src="/static/js/index.js" charset="utf-8"></script>
  </head>
  <body>
    hello
  </body>
</html>
