doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    style(src="css/style.css")
    title Pugテスト
  body
    h1.sitettl マイページ
    main.main
      h2.content_ttl メインタイトル
      .hello ようこそ、#{user.name if user else "ゲスト"}さん
      .token #{access_token.access_token if access_token else ""}
